
<!--Does it require body-->

<!DOCTYPE HTML >
<!--{% load staticfiles %} Currently there are no staticfiles! -->

<html>
<body>

<form action={% url 'appschedule:detail' %} method="get">
    <input type="submit" value="Book Now!"/>
    
</form>
</body>
</html>









































































































































































































































































































































































































































































































































































































































































































































































































































































